
<h2>Sign up</h2>

  <form {{action 'signupByEmail' on='submit'}}>

    {{#if signinError}}
      <span class="form-error">{{signinError}}</span>
    {{/if}}
    <div class="form-group has-icon name-group">
      {{input value=name type="text" placeholder="Name"}}
      <span class="input-icon name-icon"></span>
      {{#if errorsText.name}}
        <span class="input-error">{{errorsText.name}}</span>
      {{/if}}
    </div>
    <div class="form-group has-icon email-group">
      {{input value=email type="email" placeholder="Email"}}
      <span class="input-icon email-icon"></span>
      {{#if errorsText.email}}
        <span class="input-error">{{errorsText.email}}</span>
      {{/if}}
    </div>
    <div class="form-group has-icon password-group">
      {{input value=password type="password" class="password-input" placeholder="Password"}}
      <span class="input-icon password-icon"></span>
      {{#if errorsText.password}}
        <span class="input-error">{{errorsText.password}}</span>
      {{/if}}
    </div>

    {{#link-to 'signin' class="fade signin-link"}}I already have an account{{/link-to}}

    <button type="submit">
      Signup
    </button>

  </form>
